*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color :#24252A;
}
li,a,button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: #edf0f1;

}
header{
    /* background: #edf0f1; */
    /* width: 100%; */
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px ;

}
.logo{
    cursor: pointer;
}
.nav_links {
    list-style: none;
     
}
.nav_links li{
    display: inline-block;
    margin: 0 20px;
}

.nav_links li a {
transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
color:#0088a9 ;
}
button {
    padding: 10px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
    background-color: rgba(0, 135, 169, 0.6);
}